<!-- template.html -->
<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div style="color: black; font-size: 12px; max-width: 708px; font-family: 'Poppins', sans-serif; margin: 0 auto;">
        <img src="{{.LOGO}}" alt="Logo eCanteens" style="height: 50px;">

        <div style="margin-bottom: 16px; max-width: 409px;">
            <p>Hi {{.NAME}},</p>
            <p>We`ve received a request to reset your password.</p>
            <p>If you didn`t make the request, just ignore this message. Otherwise, you can reset your password</p>
        </div>

        <a href="{{.URL}}" target="_blank"
            style="padding: 7px 12px; display: block; width: fit-content; color: white; background-color: #F43F4D; border-radius: 4px; margin-bottom: 16px; text-decoration: none;">Reset
            Password</a>

        <div style="margin-bottom: 60px;">
            <p>Thank you,<br />The eCanteens Team</p>
        </div>

        <div style="height: 1px; background-color: #6F6F6F; margin-bottom: 16px;"></div>
        <p>Sent with 💌 from eCanteens<br />eCanteens Inc, Jakarta</p>
    </div>
</body>

</html>